.questionContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  margin: 1rem;
}

.radioButtons {
  margin: 2rem;
  font-size: larger;
}

.questionTitle {
  font-size: xx-large;
}

.finalButton {
  background-color: white;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  font-size: large;
  border: none;
  margin: 1rem;
}

.finalButton:hover {
  background-color: #660099;
  color: white;
  border: 3px solid white;
}

.errorText {
  color: #ff6600;
  font-size: larger;
}


@media only screen and (max-width: 768px) {
  .radioButtons {
    margin: 1rem;
  }
}