
.closeButton {
  background-color: #660099;
  color: white;
  border: 0;
  height: 2rem;
  width: 2rem;
}

.rulesButton {
    background-color: white;
    cursor: pointer;
    height: 3rem;
    font-size: large ;
    border: none;

}

.rulesButton:hover {
    background-color: #660099;
    color: white;
    border: 3px solid white;
}

.modalComponent {
  text-align: center;
}
.closeButton {
  text-align: center;
}
.closeButton:hover {
  background-color: white;
  border: 1px solid #660099;
  color: black;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: white;
  overflow-y: scroll;
  height: 90%;
  width: 70%;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.modalContainer {
  margin: 2rem;
}

@media only screen and (max-width: 768px) {
  .modal {
    height: 90%;
    width: 90%;
  }
}