.hero {
    height: 100vh;
    background-color: #CC0000;
    color: white;
    background: url("../../data/back.jpg") fixed;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.heroContent {
    text-align: center;
}