.hero {
  height: 100vh;
  background-color: #cc0000;
  color: white;
  background: url("../../data/back.png") fixed;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.heroContent span {
  text-align: center;
}
.heroContent p {
  font-size: larger;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .heroContent {
    margin: 0.5rem;
  }
  .title {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

@media only screen and (max-width: 980px) {
  .hero {
    height: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  .hero {
    
    color: white;
    background: black;
  }
}
